.root {
  -fx-font-size: 12pt;
  -fx-font-family: "Courier New";
  -fx-base: rgb(0, 0, 0);
  -fx-background: rgb(30, 30, 30);
}

.button {
  -fx-background-color: #000000;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-padding: 8;
  -fx-text-base-color: #FFFFFF;
  -fx-font-size: 9pt;
}

.button:hover {
  -fx-background-color: #3a3a3a;
}

.combo-box-base {
  -fx-text-base-color: #FFFFFF;
  -fx-background-color: #000000;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
}
.combo-box-base:hover {
  -fx-background-color: #3a3a3a;
}

.label {
  -fx-font-size: 9pt;
  -fx-font-family: "Segoe UI Semibold";
  -fx-text-fill: #FFFFFF;
  -fx-opacity: 0.6;
}

.text-field {
  -fx-font-size: 14pt;
  -fx-font-family: "Arial, sans-serif";
  -fx-background-color: #000000;
  -fx-border-color: #FFFFFF;
  -fx-border-radius: 5;
  -fx-effect: dropshadow( three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 0 );
}