.root {
  -fx-background-color: #303030;
  -fx-font-family: Segoe UI;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}

/* Label */
.label {
  -fx-text-fill: #ffffff;
}

/* Pane */
.pane-grid {
  -fx-background-color: #282828;
}

/* GridPane */
.tab-pane-grid {
  -fx-background-color: #303030;
  -fx-background-insets: 3 0 0 0;
}

/* TextField */
.text-field {
  -fx-background-color: #424242;
  -fx-border-color: #7a7a7a;
  -fx-border-radius: 1.4;
  -fx-border-width: 2;
}

.text-field:hover {}

.text-field:focused {
  -fx-border-color: #007ACC;
}

/* ComboBox */
.combo-box-base {
  -fx-border-width: 2;
  -fx-border-color: #7a7a7a;
  -fx-border-radius: 1.4;
}

/* ... (Continue with the dark theme modifications for other components) ... */

/* Button */
.button {
  -fx-font-size: 14px;
  -fx-font-weight: 400;
  -fx-text-alignment: CENTER;
  -fx-min-width: 80px;
  -fx-min-height: 32px;
  -fx-background-color: #303030;
  -fx-border-width: 1px;
  -fx-border-color: white; /* Change border color for better visibility */
  -fx-border-style: solid;
  -fx-border-radius: 2px;
  -fx-text-fill: white;
}

.button:focused {
  -fx-border-width: 1.3px;
}

.button:hover {
  -fx-background-color: #454545;
}

/* ... (Continue with the dark theme modifications for other components) ... */

/* Table View */
.table-view {
  -fx-border-width: 0;
  -fx-border-color: transparent;
  -fx-border-style: none;
}

.table-view .column-header-background {
  -fx-background-color: #282828;
}

.table-view .column-header {
  -fx-background-color: #282828;
}

.table-row-cell {
  -fx-text-fill: white;
  -fx-background-color: #303030;
}

/* ... (Continue with the dark theme modifications for other components) ... */

/* Dark Outline Button */
.dark-outline-button {
  -fx-background-color: #303030 !important;
  -fx-border-color: white !important;
  -fx-border-width: 2 !important;
  -fx-text-fill: white !important;
}

.dark-outline-button:hover {
  -fx-background-color: #454545 !important;
}
.color-picker .color-picker-label{
  -fx-background-color: black;
}

/* ... (Continue with the dark theme modifications for other components) ... */
